.style__edit-photo___B-_os {
  position: relative;
  width: 204px;
  height: 204px;
  border-radius: 100%;
  background-color: #f5f9ff;
  border: 1px solid #e0e0e0;
  color: #1569e0;
  font-size: 24px;
  background-size: contain;
  background-position: 50%;
  -webkit-transition: background-color 0.2s, -webkit-box-shadow 0.2s;
  transition: background-color 0.2s, -webkit-box-shadow 0.2s;
  -o-transition: background-color 0.2s, box-shadow 0.2s;
  transition: background-color 0.2s, box-shadow 0.2s;
  transition: background-color 0.2s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
  overflow: hidden;
  position: relative;
}
.circular-avatar-image {
  position: relative;
  height: 220px;
  width: 220px;
  overflow: hidden;
  box-shadow: 0 0 0 4px #fff;
  border-radius: 50%;
}
.avatar-image {
  min-height: 220px;
  min-width: 220px;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.shadow_style {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
body {
  background: #eef2f7;
}
