.background-style {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("seizure.jpg");
  background-size: cover;
  opacity: 0.7;
}
.red-square {
  background-color: #ff4136;
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.block-style {
  margin-top: 30%;
  /* display: inline-block; */
  border-radius: 24px;
  margin: 0;
  padding: 16px;
  white-space: pre-wrap;
  /* word-break: break-word; */
  background-color: rgba(0, 0, 0, 0.8);
  margin-left: 16px;
  top: 50%;
  color: white;
  width: 700px;
  font-size: 20px;
  font-family: Impact, Charcoal, sans-serif;
}
