.visit-company {
  text-decoration: "underline" !important;
  cursor: "pointer" !important;
  color: "blue" !important;
}
.circular-avatar-image-small {
  position: relative;
  height: 50px;
  width: 50px;
  overflow: hidden;
  box-shadow: 0 0 0 4px #fff;
  border-radius: 50%;
}
.avatar-image-small {
  min-height: 50px;
  min-width: 50px;
}
.circular-avatar-image-medium {
  position: relative;
  height: 110px;
  width: 110px;
  overflow: hidden;
  box-shadow: 0 0 0 4px #fff;
  border-radius: 50%;
}
.avatar-image-medium {
  min-height: 110px;
  min-width: 110px;
}
::placeholder {
  text-align: center;
  align-content: center;
  margin-left: 100px;
}

ion-icon {
  color: rgba(0, 0, 0, 0.56);
}
.style__pill___3uHDM {
  border: 1px solid #707070;
  border-radius: 20px;
  background-color: white;
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  margin: 0 8px 16px 0;
  line-height: 16px;
  padding: 11px;
  overflow: visible;
  color: #1569e0;
}

.style__jobs___3seWY {
  position: relative;
  overflow-y: scroll;
  flex-direction: column;
}

.style__selected___1DMZ3 {
  background-color: rgba(0, 0, 0, 0.02);
  border: 1px #707070;
}

.jobdiv:hover {
  cursor: pointer;
  background-color: #f5f9ff;
}
.line:hover {
  text-decoration: "underline";
}

.style__card___31yrn {
  padding: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  margin-bottom: 24px;
}

.modal {
  /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.style__secondary-nav___3_H_G {
  background: #fff;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-box-shadow: 0 0.5px 2px #d1d1d1;
  box-shadow: 0 0.5px 2px #d1d1d1;
  /* height: 50px; */
  line-height: 50px;
  position: relative;
  width: 100%;
  z-index: 10;
}

.style__card-item___B1f7m:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.style__divider___1j_Fp {
  width: 100%;
  height: 0;
  border-top: 1px solid #e0e0e0;
  display: block;
}

.style__card-item___B1f7m:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.style__media-body___1_M6P {
  margin-top: 4px;
  overflow: hidden;
  width: 100%;
}
